Test Cell

In [1]:
# The code was removed by Watson Studio for sharing.

,Order Number,Order Date,Status,Order Total,Requested Service,Shipping Cost,Custom 1,Custom 2,Custom 3,Item Name,...,Address Line 1,Address Line 2,City,State/Province,Zip/Postal Code,Country,Company,Email,Phone,Notes
0,1616,11/1/2017,pending,25.0,First Class,0.0,NaN,NaN,NaN,Computer Mouse,...,609 Castle Ridge Rd,Suite 445,Austin,TX,78746.0,United States,Patty Jams,patty@pattyjams.com,9.796666e+09,Needs the order by 11/3/2017
1,1615,11/2/2017,pending,25.0,First Class,0.0,NaN,NaN,NaN,Computer Mouse,...,3801 Wilson,NaN,Austin,TX,78704.0,United States,NaN,paulof@gmail.com,5.647776e+09,NaN
2,1614,11/2/2017,unfulfilled,87.1,Express,22.3,NaN,NaN,NaN,iPhone 4S cover. Blue,...,600 California,NaN,San Francisco,CA,94108.0,United States,NaN,Gerry@example.com,8.752223e+09,NaN
3,1614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Computer Mouse,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN